<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}وبلاگ{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- لینک به فایل CSS --> {% endcomment %}
    {% load static %}
</head>
<body>
    <header>
        <h1>وبلاگ من</h1>
        <nav>
            <ul>
                <li><a href="{% url 'blog:post-list' %}">صفحه اصلی</a></li>
                <li><a href="{% url 'blog:post-create' %}">ایجاد پست جدید</a></li>
                <li><a href="{% url 'blog:post-list' %}">لیست پست‌ها</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:logout' %}">خروج</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}">ورود</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- محتوای صفحه در اینجا قرار می‌گیرد -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 وبلاگ من. تمامی حقوق محفوظ است.</p>
    </footer>
</body>
</html>